.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

/* The header section */
.header {
  background-color: #2a5a97;
  padding: 10px;
  width: 100%;
}
.header h1 {
  text-align: left;
  color: white;
  font-size: 300%;
}
.header h2 {
  text-align: left;
  color: #94a4b3;
  font-size: 100%;
}

.header h3 {
  text-align: center;
  color: white;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
/* CONTENT */
.content {
  padding: 10px;
  text-align: center;
  min-height: 700px;
}

.todoBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.eachToDo {
  height: auto;
  width: 200px;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  font-weight: bold;
  font-size: large;
}

.removeButton,
.addItem,
.checkButton {
  margin: 10px;
}

.removeButton,
.addItem,
.checkButton,
.archiveButton,
.submitButton {
  background-color: #f49446;
  color: #2a5a97;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 5px #2a5a97;
  cursor: pointer;
}
/* Animation on button */
/* All button */
.removeButton:active,
.checkButton:active,
.archiveButton:active,
.submitButton:active {
  color: #f49446;
  background: #2a5a97;
  box-shadow: 0 0 10px #f49446, 0 0 40px #f49446, 0 0 80px;
  transform: translateY(4px);
}

.addItemLabel {
  color: #f49446;
}

.archive {
  color: #2a5a97;
  font-size: 200%;
  padding-bottom: 0px;
}

.archiveItems {
  color: #f49446;
}

/* footer */
.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: #2a5a97;
  padding: 10px;
  text-align: center;
  color: #f49446;
  width: 100%;
}
